.idea/
.vscode/

# Virtual environment
.venv/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Compiled extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env